@import "tailwindcss";
@plugin "daisyui";

/* LIGHT THEME */
@plugin "daisyui/theme" {
  name: "light";

  --color-primary: #ffffff;
  --color-secondary: #00adb5;
  --color-accent: #364153;
}

/* DARK THEME */
@plugin "daisyui/theme" {
  name: "dark";
  default: true;

  --color-primary: #101828;
  --color-secondary: #00adb5;
  --color-accent: #ffffff;
}
